<div class="homePage">
    <router-outlet></router-outlet>
    <div class="menu">
        <div routerLink="dashboard" routerLinkActive="activeTab">
            <span class="material-icons-outlined">
                dashboard
                </span>
            <p>Dashboard</p>
        </div>
        <div routerLink="loans" routerLinkActive="activeTab"> <span class="material-icons-outlined">
            description
            </span>
            <p>Loans</p></div>
        <div routerLink="profile" routerLinkActive="activeTab"> <span class="material-icons-outlined">
            person
            </span>
            <p>Profile</p></div>
    </div>
</div>